.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #202020;
  color: white;
  border-bottom: 2px dotted red;
}

.logo {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #660000;
  transform: scale(1.05);
}
